<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs and Internships</title>
    <link rel="stylesheet" href="jobs.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


    <style>
        /* Footer styles */
        footer {
            background-color: #333; /* Dark background color */
            color: #fff; /* Text color */
            padding: 20px; /* Padding for content inside footer */
            text-align: center; /* Center-align text */
            position: relative; /* Fixed position at the bottom */
            left: 0;
            bottom: 0;
            width: 100%;
        }
        /* Footer link styles */
        footer a {
            color: #fff; /* Link color */
            text-decoration: none; /* Remove underline */
        }
    </style>
</head>
<body>
   
  

    <h1>Available Jobs and Internships</h1>

    <section class="categories">
        <div class="category">
            <button class="category-button" data-category="recently-posted">Recently Posted</button>
        </div>
        <div class="category">
            <button class="category-button" data-category="web-dev-jobs" >Web Developer</button>
        </div>
        <div class="category">
            <button class="category-button" data-category="game-dev-jobs">Game Developer</button>
        </div>
        <div class="category">
            <button class="category-button" data-category="app-dev-jobs">App Developer</button>
        </div>
        <div class="category">
            <button class="category-button" data-category="network-jobs" >&nbsp;&nbsp;&nbsp;Networking</button>
        </div>
        <div class="category">
            <button class="category-button" data-category="data-science-jobs"> Data Science/ML </button>
        </div>
        <div class="category">
            <button class="category-button" data-category="Data-jobs">Data Manager</button>
        </div>
    </section>


    <div class="category-div web-dev-jobs">
     <!-- <% for(let job of jobs){  %>
        <div class="job">
            <div class="job-role"><h2><%=job.jobrole%></h2></div>
            <div class="company">
                <h4><%=job.company%></h4>
                <img src="<%=job.img%>" alt="">
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p><%=job.location%></p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><p><%=job.startdate%></p></div>
                <div class="ctc"><h5>CTC</h5><p><%=job.ctc%></p></div>
                <div class="experience"><h5>Experience</h5><p><%=job.experience%></p></div>
            </div>
            <hr>
            <a href="<%=job.joblink%>">
            <button>Apply Now</button></a>
        </div>
    <%}%> -->
        
        <div class="job">
            <div class="job-role"><h2>Web Developer</h2></div>
            <div class="company">
                <h4>Darkpacific Socialmedia </h4>
                <img src="company-logos/darkpacific.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Gurgaon</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-2.5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/web-developer-job-in-gurgaon-at-darkpacific-socialmedia-private-limited1711600139">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Web Developer</h2></div>
            <div class="company">
                <h4>Neet Cracker</h4>
                <img src="company-logos/neet-cracker.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>at least <br>1-3 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-part-time-web-developer-job-at-neet-cracker1711429589">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Web Developer</h2></div>
            <div class="company">
                <h4>Elixr Technologies</h4>
                <img src="company-logos/elixrtech.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-web-developer-job-at-elixr-technologies-private-limited1711405565">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Web Developer</h2></div>
            <div class="company">
                <h4>Adryana Consultancy</h4>
                <img id="ardhyana" src="company-logos/ardhya.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Kolkata</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-3 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/web-developer-job-in-kolkata-at-adryana-consultancy-pvt-ltd1710842317">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Junior Backend Developer</h2></div>
            <div class="company">
                <h4>Educase India</h4>
                <img src="company-logos/educase.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Jodhpur</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>5-9lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>3-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/junior-backend-developer-job-in-jodhpur-at-educase-india1712121412">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Frontend Developer </h2></div>
            <div class="company">
                <h4>Eulercoder Technologies</h4>
                <img src="company-logos/eulercoder.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>5-6lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-frontend-developer-nextjs-tailwindcss-job-at-eulercoder-technologies-llp1712559258">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Full Stack Developer</h2></div>
            <div class="company">
                <h4>QuadB Tech</h4>
                <img src="company-logos/quadbtech.webp" alt="">
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Ludhiana</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-2.5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/full-stack-developer-job-in-ludhiana-at-quadb-tech1712330853">
            <button>Apply Now</button></a>
        </div>

    </div>












    <div class="category-div game-dev-jobs">
        <div class="job">
            <div class="job-role"><h2>Game Tester</h2></div>
            <div class="company">
                <h4>Tata Consultancy Services</h4>
                <img src="company-logos/tata_consultancy_services_logo.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>26Apr, 2024</P></div>
                <div class="ctc"><h5>CTC</h5><p>12lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>3-4 Years</p></div>
            </div>
            <hr>
            <a href="https://in.linkedin.com/jobs/view/game-tester-at-tata-consultancy-services-3846896597?trk=public_jobs_topcard-title">
            <button>Apply Now</button></a>
        </div>
        
        <div class="job">
            <div class="job-role"><h2>Unity Game Developer</h2></div>
            <div class="company">
                <h4>DotSquares</h4>
                <img src="company-logos/dotsquares_logo.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Jaipur</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3-8lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-2 Years</p></div>
            </div>
            <hr>
            <a href="https://in.linkedin.com/jobs/view/unity-game-developer-at-dotsquares-3852592522?trk=public_jobs_topcard-title">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Game Developer</h2></div>
            <div class="company">
                <h4>Falcon Reality</h4>
                <img src="company-logos/falconreality.png.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Bangalore</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>at least <br>1-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-game-developer-job-at-falcon-reality1711954018">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Games Developer</h2></div>
            <div class="company">
                <h4>IDZ Digital Pvt Ltd.</h4>
                <img src="company-logos/idz-logo.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>3 Years</p></div>
            </div>
            <hr>
            <button>Apply Now</button>
        </div>
        <div class="job">
            <div class="job-role"><h2>Unreal Engine Artist</h2></div>
            <div class="company">
                <h4>Bluntly Streaming</h4>
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Delhi</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-unreal-engine-artist-3d-artist-job-in-delhi-at-bluntly-streaming1712152325">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Game Designer</h2></div>
            <div class="company">
                <h4>IDZ Digital Pvt Ltd</h4>
                <img src="company-logos/idz-logo.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>1 May, 2024</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-game-designer-job-in-mumbai-at-idz-digital-private-limited1710398051">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Junior Game Developer</h2></div>
            <div class="company">
                <h4>Origami Games</h4>
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-junior-game-developer-job-in-mumbai-at-origami-games1710246678">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Cinematics (Unreal Engine)</h2></div>
            <div class="company">
                <h4>IDZ Digital Pvt Ltd</h4>
                <img src="company-logos/idz-logo.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-cinematics-unreal-engine-job-in-mumbai-at-idz-digital-private-limited1710489525">
            <button>Apply Now</button></a>
        </div>

    </div>






    <div class="category-div app-dev-jobs">
        <div class="job">
            <div class="job-role"><h2>Android App Developer</h2></div>
            <div class="company">
                <h4>Mangoz Devices</h4>
                <img src="company-logos/mangoz-devices.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Hyderabad</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2.5-4lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/android-app-developer-job-in-hyderabad-at-mangoz-devices-private-limited1711005039">
            <button>Apply Now</button></a>
        </div>
        
        <div class="job">
            <div class="job-role"><h2>Android App Developer</h2></div>
            <div class="company">
                <h4>MesoTown</h4>
                <img src="company-logos/meso-town.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>5-8lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-3 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-part-time-android-app-developer-job-at-mesotown1712295620">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Android App Developer</h2></div>
            <div class="company">
                <h4>Silverline Strategies</h4>
                <img src="company-logos/silverline-startegies.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2.5-6lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>at least <br>0-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-android-app-developer-job-at-silverline-strategies1711973592">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>iOS App Developer</h2></div>
            <div class="company">
                <h4>Hostiligo</h4>
                <img src="company-logos/hostiligo.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>5-8lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>4-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-part-time-ios-app-developer-job-at-hostiligo1711600416">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>iOS App Developer</h2></div>
            <div class="company">
                <h4>Avaari</h4>
                <img src="company-logos/avaari.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-ios-app-developer-job-at-avaari1710752138">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Mobile App Developer</h2></div>
            <div class="company">
                <h4>Essentially AI Pvt Ltd</h4>
                <img src="company-logos/essentially.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>15-25lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>2-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/mobile-app-developer-job-in-mumbai-at-essentially-ai-private-limited1711687788">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Mobile App Developer</h2></div>
            <div class="company">
                <h4>Avaari</h4>
                <img src="company-logos/avaari.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2.4-6lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-mobile-app-developer-job-at-avaari1710752244">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Mobile App Developer</h2></div>
            <div class="company">
                <h4>Infoware</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Ahmedabad</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>4.5-5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/mobile-app-developer-job-in-ahmedabad-at-infoware1710420184">
            <button>Apply Now</button></a>
        </div>

    </div>



    <div class="category-div network-jobs">
        <div class="job">
            <div class="job-role"><h2>Asssitant Manager</h2></div>
            <div class="company">
                <h4>Asssitant Manager</h4>
                <img src="company-logos/plushmedia.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Jaipur</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2.4lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/asssitant-manager-job-in-jaipur-at-plush-media1712557533">
            <button>Apply Now</button></a>
        </div>
        
        <div class="job">
            <div class="job-role"><h2>Business Development Executive</h2></div>
            <div class="company">
                <h4>Delite Systems</h4>
                <img src="company-logos/delite-systems.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2.5-4lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-business-development-executive-job-in-mumbai-at-delite-systems-engineering-india-private-limited1712136217">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Executive Assistant</h2></div>
            <div class="company">
                <h4>Deepak Towers</h4>
                <img src="company-logos/deepaktowers.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Hyderabad</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>at least <br>1-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/executive-assistant-job-in-hyderabad-at-deepak-towers1711083696">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>IT Administrator</h2></div>
            <div class="company">
                <h4>Deck Mount Electronics</h4>
                <img id="deck-mount" src="company-logos/deck-mount.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Gurgaon</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-4lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/it-administrator-job-in-gurgaon-at-deck-mount-electronics-private-limited1710319511">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Network Engineer</h2></div>
            <div class="company">
                <h4>CN Solutions</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>Competitive Salary</p></div>
                <div class="experience"><h5>Experience</h5><p>4-6 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-network-engineer-job-at-cn-solutions17105411445">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Corporate Trainer And Systems Engineer</h2></div>
            <div class="company">
                <h4>Shinrai Associates</h4>
                <img id="shinrai" src="company-logos/shinrai.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>5-7lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>2-3 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-corporate-trainer-and-systems-engineer-job-at-shinrai-associates1711446607">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Trainee Engineer- SOC Monitoring</h2></div>
            <div class="company">
                <h4>SK International</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-trainee-engineer-soc-monitoring-job-in-mumbai-at-sk-international1710739050">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Desktop Support Executive</h2></div>
            <div class="company">
                <h4>Aseuro Technologies</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Bangalore</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-2.4lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-desktop-support-executive-job-in-bangalore-at-aseuro-technologies1711697404">
            <button>Apply Now</button></a>
        </div>

    </div>


    <div class="category-div data-science-jobs">
        <div class="job">
            <div class="job-role"><h2>GenAI Specialist</h2></div>
            <div class="company">
                <h4>HaZZtens</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>6-12lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>4-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-part-time-genai-specialist-chatbot-job-at-hazzten1712033186">
            <button>Apply Now</button></a>
        </div>
        
        <div class="job">
            <div class="job-role"><h2>Data Scientist</h2></div>
            <div class="company">
                <h4>Blob City</h4>
                <img id="blob-city" src="company-logos/blob-city.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-data-scientist-job-in-mumbai-at-blobcity1712552779">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Data Engineer</h2></div>
            <div class="company">
                <h4>Blackcoffer</h4>
                <img id="blackcoffer" src="company-logos/blackcoffer.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3-5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>at least <br>0-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-data-engineer-job-at-blackcoffer1710851736">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Artificial Intelligence (AI) Executive</h2></div>
            <div class="company">
                <h4>Avaari</h4>
                <img src="company-logos/avaari.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3-8lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-artificial-intelligence-ai-executive-job-at-avaari1710752070">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>AI/ML Engineer</h2></div>
            <div class="company">
                <h4>DheyoAI</h4>
                <img src="company-logos/dheyoAI.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Hyderabad(Hybrid)</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>4-6</p></div>
                <div class="experience"><h5>Experience</h5><p>2-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/ai-ml-engineer-job-in-hyderabad-at-dheyoai1710657127">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Artificial Intelligence (AI) Executive</h2></div>
            <div class="company">
                <h4>Buddha Education</h4>
                <img id="buddhanet" src="company-logos/budhhanet.gif" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>8-12lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-artificial-intelligence-ai-executive-job-at-buddha-education-association-incorporation1710511962">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Artificial Intelligence (AI) Manager</h2></div>
            <div class="company">
                <h4>Urban NXT</h4>
                <img src="company-logos/urbannext.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-3lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/artificial-intelligence-ai-manager-job-in-mumbai-at-urban-nxt1710413179">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>AI And Computer Vision Developer</h2></div>
            <div class="company">
                <h4>Kotai Electronics</h4>
                <img src="company-logos/kotai.jpeg" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Kolkata</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3.2-4.8lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1-3 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/ai-and-computer-vision-developer-job-in-kolkata-at-kotai-electronics1710243024">
            <button>Apply Now</button></a>
        </div>

    </div>





    <div class="category-div Data-jobs">
        <div class="job">
            <div class="job-role"><h2>Database Building</h2></div>
            <div class="company">
                <h4>Webspire Solutions</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>4-6lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-part-time-database-building-management-executive-job-at-webspire-solutions1712311488">
            <button>Apply Now</button></a>
        </div>
        
        <div class="job">
            <div class="job-role"><h2>Database Building</h2></div>
            <div class="company">
                <h4>Fastek Solutions</h4>
                <img id="fastek" src="company-logos/blob-city.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Mumbai</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>4-7lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-remote-part-time-database-building-management-executive-job-at-fastek-solutions1710394387">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>SQL Developer</h2></div>
            <div class="company">
                <h4>Techdome Solutions Pvt Ltd</h4>
                <img src="company-logos/techdome.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-4lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>at least <br>1-2 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/sql-developer-job-in-indore-at-techdome-solutions-private-limited1710401348">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Data Management Executive</h2></div>
            <div class="company">
                <h4>ProMax</h4>
                <img src="company-logos/ProMax.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Nagpur</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2-2.5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-data-management-executive-job-in-nagpur-at-promax1710148509">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Senior Data Engineer</h2></div>
            <div class="company">
                <h4>Century Health</h4>
                <img id="century-health" src="company-logos/century-health.png" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Work From Home</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>12-20</p></div>
                <div class="experience"><h5>Experience</h5><p>3-5 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/remote-senior-data-engineer-job-at-century-health1710396398">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Data Intelligence Specialist</h2></div>
            <div class="company">
                <h4>DeepThought Edutech</h4>
                <img src="company-logos/deepthought.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Hyderabad</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3-5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-data-intelligence-specialist-job-in-hyderabad-at-deepthought-edutech-ventures-private-limited1710569550">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Data Analyst</h2></div>
            <div class="company">
                <h4>Fintune</h4>
                <img src="company-logos/FinTune.webp" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Pune</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>2.8-3.6lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>0-1 Years</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/fresher-data-analyst-job-in-pune-at-fintune1712558123">
            <button>Apply Now</button></a>
        </div>
        <div class="job">
            <div class="job-role"><h2>Data Analytics Associate</h2></div>
            <div class="company">
                <h4>University Living Accommodation</h4>
                
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p>Noida</p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P>Immediately</P></div>
                <div class="ctc"><h5>CTC</h5><p>3-4.5lpa</p></div>
                <div class="experience"><h5>Experience</h5><p>1 Year</p></div>
            </div>
            <hr>
            <a href="https://internshala.com/job/detail/data-analytics-associate-job-in-noida-at-university-living-accommodation-private-limited1712149365">
            <button>Apply Now</button></a>
        </div>

    </div>





    <div class="category-div recently-posted">
      <%  for(let job of jobs){ %>
        <div class="job">
            <div class="job-role"><h2><%=job.jobrole%></h2></div>
            <div class="company">
                <h4><%=job.company%></h4>
                <img src="<%=job.img%>" alt="">
            </div>
            <div class="location">
                <span class="material-symbols-outlined">
                    location_on
                    </span><p><%=job.location%></p>
            </div>
            <div class="details">
                <div class="start-date"><H5>START DATE</H5><P><%=job.startdate%></P></div>
                <div class="ctc"><h5>CTC</h5><p><%=job.ctc%></p></div>
                <div class="experience"><h5>Experience</h5><p><%=job.experience%></p></div>
            </div>
            <hr>
            <a href="<%=job.joblink%>">
            <button>Apply Now</button></a>
        </div>
      <%}%>
        


    




      <footer>
        <p>© 2024 Your Website. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </footer>
    


    <script src="jobs.js" charset="UTF-8"></script>
</body>
</html>